TZ=UTC
PORT=3333
HOST=localhost
APP_URL=http://${HOST}:${PORT}
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
APPWRITE_ENDPOINT=https://endpoint.appwrite.io/v1
APPWRITE_PROJECT_ID=project_id
APPWRITE_KEY=key
TEMP_MEMBER_PASSWORD=ChangeMe123!
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_KEY_PREFIX=bara_cache:
LIMITER_STORE=redis
LOCK_STORE=redis

# Resend Mail Configuration
RESEND_API_KEY=
MAIL_FROM_ADDRESS=noreply@bara.akumba.io