TZ=UTC
PORT=3333
HOST=localhost
APP_URL=http://${HOST}:${PORT}
LOG_LEVEL=info
APP_KEY=EBfoIK2NMti_9GN2VV88hWwntaCktMUz
NODE_ENV=development
APPWRITE_ENDPOINT="https://bara.akumba.io/v1"
APPWRITE_PROJECT_ID=
APPWRITE_KEY=
TEMP_MEMBER_PASSWORD=Bara@Temp123!
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_KEY_PREFIX=bara_cache:
LIMITER_STORE=redis
LOCK_STORE=redis

# Resend Mail Configuration
RESEND_API_KEY=
MAIL_FROM_ADDRESS=noreply@bara.akumba.io